<h1>Welcome to Our Platform, <%= @user.name %>!</h1>

<p>
  You have successfully signed up to our platform. To get started, please log in using the link below:
</p>

<p>
  <%= link_to 'Log in', @url %>
</p>

<p>
  We are excited to have you on board!
</p>
